.container {
  max-width: 80%; /* Adjust as needed */
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.qrcode {
  margin-top: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
